body {
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
h1 {
    margin: 0 0 0 8px;
    padding-top: 8px;
}
.bar {
    background-color: gray;
    padding: 10px;
    display: flex;
}
.logo {
    width: 50px;
    height: 50px;
}

.container {
    margin-top: 30px;
    padding: 0 60px 0 60px;
}

.post {
    background-color: black;
    margin-bottom: 15px
    padding 5px 20px 5px 20px;
    border-radius: 12px;
}

.post h4 {
    color: greenyellow;
}

.post span {
    color: skyblue;
}